@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f9fafb;
  width: 100vw;
  height: 100vh;
}

#root {
  padding: 0px;
  margin: 0px;
  width: 100vw;
  height: 100vh;
}

.bg-base {
  background-color: #1f2937;
}

input:focus {
  outline: none;
  background-color: white !important;
}

.bg-transparent {
  background-color: rgba(249, 250, 251, 0.7);
}

option {
  color: black; /* Establece el color del texto en negro */
  background-color: white; /* Establece el fondo en blanco */
}

.bg-oficial {
  background-color: #009EA8;
}

.even-row {
  background-color: '#FFFFFF';
  padding: '5px';
  width: '5px';
}
